/* ROOT */
:root {

    --primary-moderate-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);

    --neutral-light-gray: hsl(0, 0%, 81%);
    --neutral-light-grayish-blue: hsl(210, 46%, 95%);
    
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERIC STYLES */

body {
    background-color: var(--neutral-light-grayish-blue);
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 13px;
}

section {
    max-width: 89.5em;
    margin: 5.5em auto;
    padding-left: 2em;
    padding-right: 2em;
}

.card {
    padding: 1.6em 2.1em 1.6em 2.3em;
    border-radius: 0.8em;
    min-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.profile-flex {
    display: flex;
    align-items: center;
}

img {
    border-radius: 50%;
    border: 1px solid var(--white);
    width: 2.3em;
    margin-right: 1.3em;
}

.status {
    opacity: 50%;
}

h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 0.8em;
    margin-bottom: 0.9em;  
    padding-right: 0.47em; 
}

.testimonial {
    line-height: 1.4em;
    margin-bottom: 0.6em;
    padding-right: 1em;
    opacity: 70%;
}

/* INDIVIDUAL CARD STYLES */

.daniel-clifford {
    background-color: var(--primary-moderate-violet);
    color: var(--neutral-light-grayish-blue);
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 90% 0% ;
}

.janathan-walters {
    background-color: var(--very-dark-grayish-blue);
    color: var(--white);
}

.jeanette-harmon, .kira-whittle {
    background-color: var(--white);
    color: var(--very-dark-grayish-blue);
}

.patrick-abrams {
    background-color: var(--very-dark-blackish-blue);
    color: var(--white);
}

/* FOOTER */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* LAYOUT */

section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
}

/* MEDIA QUERIES */

@media screen and (min-width:767px) {
    section {
        grid-template-columns: repeat(4, 1fr);
    }

    .daniel-clifford {
        grid-column: 1 / span 2;
    }

    .janathan-walters {
        grid-column: 3;
    }

    .jeanette-harmon {
        grid-row: 2;
    }

    .patrick-abrams {
        grid-row: 2;
        grid-column: 2 / span 2;
    }

    .kira-whittle {
       grid-column: 4;
       grid-row: 1 / span 2;
        
    }
}
